<div class="carrito-container">
    <ng-container *ngIf="listProductos.length > 0; else noProductos">
        <div class="carrito-item" *ngFor="let producto of listProductos; let i = index">
            <div class="carrito-info">
                <div class="row">
                    <div class="col-4">
                        <div class="carrito-nombre">{{ producto.nombre }}</div>
                        <div class="carrito-precio">Precio: {{ producto.precio | currency }}</div>
                    </div>
                    <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                        <div class="carrito-cantidad text-center">
                            {{ producto.cantidad }}
                        </div>
                    </div>
                    <div class="col-4 d-flex justify-content-center">
                        <button mat-icon-button class="carrito-delete" (click)="eliminarDelCarrito(i)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="carrito-crear-pedido">
            <button mat-raised-button color="primary" (click)="crearPedido()">
                Crear Pedido
            </button>
        </div>
    </ng-container>
    <ng-template #noProductos>
        <div class="carrito-vacio">
            <p>No hay productos en el carrito.</p>
        </div>
    </ng-template>
</div>
