<mat-dialog-content class="pedido-detail-container">
  <div class="header">
    <h2 mat-dialog-title>{{title}} Cliente</h2>
  </div>
  <div class="body scrollable-content" [formGroup]="formGroup">
    <div class="row">
      <div class="col-6">
        <mat-form-field #input appearance="fill" class="w-100">
          <mat-label>Nombre</mat-label>
          <input type="text" class="uppercase-input" formControlName="nombre" matInput>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field #input appearance="fill" class="w-100">
          <mat-label>Apellido</mat-label>
          <input type="text" class="uppercase-input" formControlName="apellido" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field #input appearance="fill" class="w-100">
          <mat-label>Telefono</mat-label>
          <input type="text" class="uppercase-input" formControlName="telefono" matInput>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field #input appearance="fill" class="w-100">
          <mat-label>Dni</mat-label>
          <input type="text" class="uppercase-input" formControlName="dni" matInput>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="footer d-flex justify-content-between">
    <div class="col"></div>
    <div class="col d-flex justify-content-end">
      <button mat-button (click)="guardar()" class="custom-text-color">Guardar</button>
      <button mat-button (click)="close()" color="primary">Cancelar</button>
    </div>

  </div>
</mat-dialog-content>